*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline:none;
}
html,body{
    height: 100%;
    /**/background-color: rgb(225,225,225) ;
}
body{
    overflow-x: hidden;
}
/* classes padroes*/
.container{
    max-width: 1020px;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.w100{
    width: 100%;    
    float: left;
}
.w50{
    width: 49%;    
    float: left;
    background-color: red;
}
.marge-right{
    margin-right: 2%;
}
.w33{
    width: 31.3%;
    float: left;
}
/*pagina login*/
body.log{
    background-color: #5E3EA1;
}
/*login*/
.login{
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 40px 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
}
.login h2{
    color: rgb(35, 10, 88);
    text-align: center;
}
div.lembrar{
    float: right;
    width: 120px;
    margin-top: 20px;
}
.lembrar input[type = checkbox]{
    float: right;
    width: 20px;
    margin-top: 6px;
}

input, select,textarea{
    margin: 10px 2%;
    width: calc(100% - 4%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #E8F0FE;
}
textarea{
    resize: none;
}
input[type=submit]{
    width: 130px;
    color: white;
    background-color: #5E3EA1;
    cursor: pointer;
    border: 0;
}
input[type=file]{
    border: none;
    background-color: white;
}

.sucesso{
    position: fixed;
    right: 20px;
    top: 70px;
    padding: 10px 20px;
    z-index: 3;
    background-color: #4db6ac;
    color: white;
    font-size: 14px;
    border-radius: 20px;
}
.err{
    position: fixed;
    right: 20px;
    top: 70px;
    padding: 10px 20px;
    z-index: 3;
    background-color: #d84315;
    color: white;
    font-size: 14px;
    border-radius: 20px;
}
.erro{
    text-align: center;
    font-size: 17px;
    background-color: red;
    color: white;
    padding: 10px 2%;
    border-radius: 20px;
}
.erro i{
    font-size: 20px;
    
}
.menu-active::before{
    content: '>> ';
}
/*pagina main*/
header{
    background-color: rgb(35, 10, 88);
    padding: 10px 0;
    width: calc(100% - 250px);
    height: 60px;
    position: relative;
    left: 250px;
}
/*menu*/
div.menu{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    float: left;
    background-color: rgb(66, 66, 66);
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-wraper{
    width: 250px;
    padding: 10px 0;
}
.menu-wraper h2{
    font-size: 16px;
    font-weight: 300;
    padding: 5px 10px;
    color: white;
    background-color: rgb(24, 24, 24);
}
.menu-wraper a{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    border-bottom: 3px solid rgb(24, 24, 24);
}
/*ocultação*/
.logout{
    float: right;
}
.logout a{
    height: 60px;
    padding: 0 20px;
    position: relative;
    top: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
div.menu-btn{
    float: left;
    font-size: 23px;
    color: white;
    cursor: pointer; 
}
div.btn-home{
    display: inline;
    
}
div.btn-home a.home{
    height: 60px;
    width: 100px;
    padding: 20px 20px;
     background-color: #5E3EA1;
     cursor: pointer; 
 }
/*area de conteudo*/
div.conteudo{
    width: calc(100% - 250px);
    position: relative;
    top: 60px;
    left: 250px;
}
div.box-container{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 30px;
    background-color:white;
}
.box-container h2{
    font-size: 23px;
    font-weight: 300;
}
.box-container h2.title{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
    width: 100%;
}
.box-container .w33{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.box-container h3{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.box-container p{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.user{
    background-color: #F4B03E;
}
.visita{
    background-color: #E05C4E;
}
.visita-hoje{
    background-color: #00BFA5;
}
/*avata*/
.avata-user, div.img-user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:3px solid #303030;  
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.avata-user i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 35px;
}
p#bem-vindo{
    padding: 0 2%;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 15px;
}
p#cargo{
    padding: 0 2%;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 14px;
}
/*tabela responciva*/


.tabela-responciva{
    margin-top: 10px;
}
.tabela-responciva .row{
    padding-left: 20px;
}
.tabela-responciva .row:nth-child(1){
    font-weight: bold;
    color:white;
    background-color: #F4B03E;    
    border-radius: 10px;
}
.col{
    width: 50%;
    float: left;
    padding: 5px 0;
}
/*tabela responciva depoimento*/
.scroll{
    overflow-x: auto;
}
.depoimento{
    min-width: 700px;
}
.depoimento .col{
    width: 30%;
    float: left;
    padding: 5px 0;
}
.depoimento .col1{
    width: 10%;
    float: left;
    padding: 5px 0;
    text-align: center;
}
.col1 i{
    color: white;
}
.depoimento .row:nth-child(1){
    background-color:#4C6EF5;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-bottom: 5px;
}
div.editar,div.delete,.local{
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.local{
    background-color: rgb(73, 101, 214);
    color: white; 
}
.editar{
    background-color: green;
    color: white;
}
.delete{
    background-color: red;
    
}

/*pagineção*/
.paginacao{
    text-align: center;
    margin: 20px 0;
}
.paginacao a{
    font-size: 14px;
    margin: 0 8px;
    display: inline-block;
    padding: 3px 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}
.paginacao a.pag-select{
    background-color: rgb(220,220,220);
}
/*pagina editar usuario*/
form#editar-usuario{
    margin-top: 10px;
}
form#editar-usuario label{
    margin: 10px 2%;
    width: calc(100% - 4%);
    padding: 10px;
   
}
/*mini imagem*/
.mini{
    width: 60px;
}
/*chat online*/
.box-chat-online p{
   color: #303030;
}
.box-chat-online{
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.mensagem-chat{
    padding: 8px 0;
    border-bottom: 1px solid #353535;
    
}
.mensagem-chat span{
    
    color: #230A58;
}
.mensagem-chat p{
    
    color: #4f4f4f;
}
@media screen and ( max-width:1200px){
    .box-container .w33{
        height: 100px;
    }
}
@media screen and (max-width:768px){
    header{
        width: 100%;
        left: 0;
    }
    div.conteudo{
        width: 100%;
        left: 0;
    }
    .box-container .w33{
        width: 100%;
        margin-bottom: 10px;
        height: auto;
    }
    
}
@media screen and (max-width:400px){
    .menu-wraper{
       width: 200px;
    }
}